.bento__3 {
  grid-column: span 1;
  grid-row: span 4;
  background-color: #1f1f1f80;
}

.bento__item {
  border-radius: 8px;
  transition: all 0.5s ease;

  &:hover {
    transform: scale(0.96);
    cursor: crosshair;
  }
}

.bento-spotify__image {
  width: 90%;
  height: auto;
  border-radius: 4px;
}

.bento-spotify__container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 12px;
  color: #fff;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%,rgb(0, 0, 0) 30%);

  & > div > p {
    margin: 0;
    text-wrap: pretty;
  }
}

.bento-spotify__title {
    font-weight: bold;
}

.bento-spotify__logo {
  width: 140%;
  position: relative;
  left: 75px;
  color: #00000067;
}

@media only screen and (max-width: 768px) {
  .bento__3 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .bento-spotify__image {
    width: 60%;
  }

  .bento-spotify__title {
    font-size: 12px;
  }

  .bento-spotify__artists {
    display: none;
  }
}