---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import Header from "../../sections/Header.astro";
import Footer from "../../sections/Footer.astro";
import PostDisplay from "../../components/PostDisplay.astro";

changeLanguage("en");

const posts = await Astro.glob("../../../content/**/*.mdx");
const publishedPosts = posts
    .filter(post => !post.frontmatter.draft)
    .sort((a, b) => {
    return new Date(b.frontmatter.posted).getTime() - new Date(a.frontmatter.posted).getTime();
});
---

<Layout title="Blog - Seb's portfolio" description="Welcome to my blog, where I share my freelance work and insights on business and creative projects." >
  <Header />
  <main>
    <h1>Blog</h1>
    <ul class="blog__post_list">
      {
        publishedPosts.map((post) => (
          <PostDisplay p={post} />
        ))
      }
    </ul>
  </main>
  <Footer />
</Layout>

<style is:global>
  .blog__post_list {
    border: 1px solid rgba(64, 64, 64, 0.733);
    border-left: none;
    border-right: none;

    & > li {
      border-bottom: 1px dashed rgba(64, 64, 64, 0.733);
    }

    & > li:last-child {
      border: none;
    }
  }
</style>
