---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import Header from "../../sections/Header.astro";
import Footer from "../../sections/Footer.astro";

changeLanguage("en");
---

<Layout title="Freelance Works - Seb's portfolio" description="Welcome to my blog, where I share my freelance work and insights on business and creative projects." >
  <Header />
  <main>
    <h1>Blog</h1>
  </main>
  <Footer />
</Layout>
