:root {
    /* --text: #F4F0EF; */
    --text: #fff4db;
    --background: #0f0f0f;
    --primary: #e79f8d;
    --secondary: #7ee69d;
    --accent: #9be4e4;
    --gray: #e6e6e6;
    --hover-gray: #1d1d1d;

    --max-w: 45rem;

    --cmd-background: rgba(28, 28, 29, 0.747);
    --cmd-a1: rgb(53 53 54);
    --cmd-a2: rgba(255 255 255 / 0.1);
    --cmd-foreground: rgba(252 252 252 / 0.9);
    --cmd-shadow: rgb(0 0 0 / 50%) 0px 16px 70px;
  }

  @font-face {
    font-family: "AtkinsonHyperlegible";
    src: url("/fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Regular.ttf")
      format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "AtkinsonHyperlegible";
    src: url("/fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Bold.ttf")
      format("truetype");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "AtkinsonHyperlegible";
    src: url("/fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Italic.ttf")
      format("truetype");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: "AtkinsonHyperlegible";
    src: url("/fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-BoldItalic.ttf")
      format("truetype");
    font-weight: bold;
    font-style: italic;
  }

  * {
    font-family: "AtkinsonHyperlegible", sans-serif;
    scroll-behavior: smooth;
    line-height: 1.5;
  }

  body {
    position: relative;
    margin: 0 auto;
    padding: 0;
    color: var(--text);
    background-color: var(--background);
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .content {
    max-width: var(--max-w);
    margin: 0 auto;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: var(--text);
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  input {
    all: unset;
  }

  button,
  input[type="submit"],
  input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  textarea, input, select, option {
    all: unset;
    outline: none;
    -webkit-appearance: none;
  }

  section {
    margin: 60px 0;

    & > h2 {
      scroll-margin-top: 4em;
    }
  }

  h2 {
    font-size: 30px;
    margin-bottom: 35px;
  }

  img {
    width: 100%;
    max-width: var(--max-w);
  }

  pre {
    padding: 20px 16px;
    border-radius: 10px;
  }
  
  .primary {
    color: var(--primary);
  }

  .secondary {
    color: var(--secondary);
  }

  .accent {
    color: var(--accent);
  }

  .highlight {
    background-color: #9b99c056;
    color: #fff;
    padding: 0 4px;
    /* text-decoration: underline dotted; */
    border-radius: 2px;
  }

  *::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #252525;
  }

  *::-webkit-scrollbar-track:hover {
    background-color: #252525;
  }

  *::-webkit-scrollbar-track:active {
    background-color: #252525;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #352B50;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #443B55;
  }

  *::-webkit-scrollbar-thumb:active {
    background-color: #443B55;
  }

  @media only screen and (max-width: 768px) {
    .content {
      padding: 30px;
      margin: 0 auto;
    }

    * {
      font-size: 14px;
    }

    h2 {
      font-size: 22px;
    }

    h3 {
      font-size: 22px;
    }
  }

  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .kbar-blur {
      background-color: var(--cmd-background);
      -webkit-backdrop-filter: saturate(300%) blur(25px);
      backdrop-filter: saturate(300%) blur(25px);
    }
  }