---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
import Footer from "../sections/Footer.astro";
---

<Layout title="Freelance Works - Seb's portfolio" description="A showcase of my freelance works for business and others!" >
  <Header />
  <main>
    <h1>Freelance Works</h1>
    <p>A showcase of my freelance works for business and others!</p>
  </main>
  <Footer />
</Layout>
