---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../sections/AboutMe.astro";
import Header from "../sections/Header.astro";
import Footer from "../sections/Footer.astro";
import Skills from "../sections/Skills.astro";
---

<Layout title="Welcome to Astro." description="Astro description">
  <Header />
  <main>
    <AboutMe />
    <Skills />
  </main>
  <Footer />
</Layout>
