---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../sections/AboutMe.astro";
import Header from "../sections/Header.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main>
    <AboutMe />
  </main>
</Layout>
