---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../sections/AboutMe.astro";
import Header from "../sections/Header.astro";
import Footer from "../sections/Footer.astro";
import Skills from "../sections/Skills.astro";
import Experience from "../sections/Experience.astro";
import Projects from "../sections/Projects.astro";
---

<Layout title="Seb's portfolio | Web developer" description="Welcome to my personal portfolio, where I showcase my latest projects and creations.">
  <Header />
  <main>
    <AboutMe />
    <Skills />
    <Experience />
    <Projects />
  </main>
  <Footer />
</Layout>
