---
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
import Footer from "../sections/Footer.astro";

changeLanguage("en");
---

<Layout title="Freelance Works - Seb's portfolio" description="A showcase of my freelance works for business and others!" >
  <Header />
  <main>
    <h1>???</h1>
  </main>
  <Footer />
</Layout>
