---
import { changeLanguage } from "i18next";
import PostLayout from "../../../layouts/PostLayout.astro";
import Header from "../../../sections/Header.astro";
import Footer from "../../../sections/Footer.astro";
import { slugify } from "../../../utils/slugify";
import { formatDate } from "../../../utils/formatDate";

changeLanguage("es");

export async function getStaticPaths({ rss }) {
    const posts = await Astro.glob("../../../../content/**/*.mdx");
    const publishedPosts = posts.filter(post => !post.frontmatter.draft);
    return publishedPosts.map((post) => {
        return {
            params: { post: slugify(post.frontmatter.title) },
            props: { post }
        };
    });
}
const { post: { Content }, post } = Astro.props;
export const prerender = true;
---

<PostLayout title={post.frontmatter.title + " | Seb's portfolio"} description={post.frontmatter.description}>
    <Header />
    <div class="post__info">
        <h1 class="post__title">{post.frontmatter.title}</h1>
        <p class="post__description">{post.frontmatter.description}</p>
        <p class="post__date">Last updated on {formatDate(post.frontmatter.posted)}</p>
    </div>
    <div class="post__divider"> </div>
    <div>
        <Content />
    </div>
    <Footer />
</PostLayout>

<style>
    .post__divider {
        margin: 24px 0;
        border-bottom: 1px solid rgba(64, 64, 64, 0.733);
    }

    .post__title {
        margin-bottom: 4px;
        font-size: 30px;
    }

    .post__description {
        margin-top: 0;
    }

    .post__date {
        margin-top: 24px;
        color: var(--gray);
    }
</style>