---
import OpenLink from "../icons/open-link.astro";
const { content, to, ...props } = Astro.props;
---

<a class:list={"link"} href={to as string} {...props}>
  <OpenLink class:list={"link__icon"} />
  {content}
</a>

<style>
  .link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 5px;
    color: white;
    padding: 2px 8px;
    border-radius: 8px;
    transition: background .1s ease-in;

    &:hover {
        background-color: var(--hover-gray);
    }
  }

  .link__icon {
    width: 15px;
    height: auto;
  }
</style>
