---
import { slugify } from "../utils/slugify";
import { formatDate } from "../utils/formatDate";

const { p } = Astro.props;
---

<li class="post__container">
  <a href={"/blog/" + slugify(p.frontmatter.title)} >
    <div class="post__info">
      <div>
        <h3 class="post__title">{p.frontmatter.title}</h3>
        <p class="post__description">{p.frontmatter.description}</p>
      </div>
      <p class="post__date">{formatDate(p.frontmatter.posted)}</p>
    </div>
  </a>
</li>

<style>
  .post__title {
    display: inline;
    text-decoration: underline;
    text-decoration-color: var(--gray);
    text-decoration-thickness: 2px;
  }

  .post__container {
    padding: 28px 12px;
  }

  .post__description {
    margin: 0;
    color: #fafafa;
  }

  .post__date {
    color: var(--gray);
  }

  .post__info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;

    & > * {
      margin: 0;
    }

    &:hover {
      & > div > .post__title {
        text-decoration-color: #35e1ff;
      }
    }
  }
</style>