---
import { t } from "i18next";
import Tooltip from "./Tooltip.astro";

interface Props {
  state: Number;
}

const { state } = Astro.props;

const stateSelector = {
  0: [`🔨 ${t("projects.states.building")}`, "#f7ae73"],
  1: [`🟢 ${t("projects.states.finished")}`, "#4efd66"],
  2: [`💻 ${t("projects.states.inProduction")}`, "#4efd66"],
  3: [`🔴 ${t("projects.states.down")}`, "#fd3838"]
};

const tooltipMessage = stateSelector[state as number][0];
const color = stateSelector[state as number][1];
---

<Tooltip content={tooltipMessage}>
  <div class="project-state" style={{ backgroundColor: color as string }}></div>
</Tooltip>

<style>
  .project-state {
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }

  @media only screen and (max-width: 768px) {
    .project-state {
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
  }
</style>
