---
import { HeadHrefLangs } from "astro-i18next/components";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="description" content={description} />

<link rel="icon" type="image/svg+xml" href="/favicon.png" />
<meta name="viewport" content="width=device-width" />
<meta name="HandheldFriendly" content="true" />
<meta name="MobileOptimized" content="320" />

<link rel="sitemap" href="/sitemap-index.xml" />

<meta name="keywords" content="seb, xxixiio, portfolio, developer, web developer, projects, creations, web applications" />
<meta name="generator" content={Astro.generator} />

<meta name="author" content="xxixiio" />
<meta name="copyright" content="xxixiio" />
<meta name="publisher" content="xxixiio">  

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<link rel="canonical" href="https://www.sebjf.dev" />

<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-R50CY9YR3V"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-R50CY9YR3V');
</script>

<HeadHrefLangs />
