---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="description" content={description} />

<link rel="icon" type="image/svg+xml" href="/favicon.webp" />
<meta name="viewport" content="width=device-width" />

<meta name="keywords" content="hizer, seb, xxixiio, portfolio, developer, web developer, projects, creations, web applications" />
<meta name="generator" content={Astro.generator} />

<meta name="author" content="xxixiio" />
<meta name="copyright" content="xxixiio" />
<meta name="publisher" content="xxixiio">  

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
