---
import { Trans } from "astro-i18next/components";
---

<button id="shortcut-menu" class="hero__menu-text">
  <Trans i18nKey="shortcutMenuMessage">
    Press <span class="key">⌘</span> + <span class="key">K</span> to open the command
    menu 🠖
  </Trans>
</button>

<script>
  // Hide to Shortcut to mobile phones.
  // This is added since the library used to create the command menu is not fully compatible with Astro.
  
  function checkShortcutMenu() {
    if (
      /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
        navigator.userAgent
      ) ||
      window.innerWidth <= 1024
    ) {
      document.getElementById("shortcut-menu").style.display = "none";
    } else {
      document.getElementById("shortcut-menu").style.display = "block";
    }
  }

  checkShortcutMenu()
  window.onresize = checkShortcutMenu;
</script>

<script>
  document.getElementById("shortcut-menu").addEventListener("click", () => {
    const ctrlKeyDown = new KeyboardEvent("keydown", {
      key: "Control",
      code: "ControlLeft",
      ctrlKey: true,
      bubbles: true,
    });
    const kKeyDown = new KeyboardEvent("keydown", {
      key: "k",
      code: "KeyK",
      ctrlKey: true,
      bubbles: true,
    });
    const kKeyUp = new KeyboardEvent("keyup", {
      key: "k",
      code: "KeyK",
      ctrlKey: true,
      bubbles: true,
    });
    const ctrlKeyUp = new KeyboardEvent("keyup", {
      key: "Control",
      code: "ControlLeft",
      ctrlKey: false,
      bubbles: true,
    });

    document.dispatchEvent(ctrlKeyDown);
    document.dispatchEvent(kKeyDown);
    document.dispatchEvent(kKeyUp);
    document.dispatchEvent(ctrlKeyUp);
  });
</script>

<style>
  .hero__menu-text {
    color: #afafaf;
    width: fit-content;
    cursor: pointer;
    padding: 2px 8px;
    border-radius: 8px;
    transition: background 0.1s ease-in;
    display: block;
    margin: 0 auto;
    margin-top: 30px;

    &:hover {
      background-color: var(--hover-gray);
    }
  }
</style>
