---
// import { Image } from "astro:assets";
import Svg from "./Svg.astro";

interface Props {
  name: string;
  icon: string;
  color: string;
}



const { name, icon, color } = Astro.props;
// const { default: innerHTML } = await import(`/src/icons/technologies/${icon}?raw`);
---

<div class="skill__container">
  <Svg src={icon} class="skill__image" style={{ color: color }} />
  <span class="skill__name">{name}</span>
</div>

<style>
  .skill__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 8px;
    color: white;
    border: #303030 1px solid;
    border-radius: 6px;
    width: 125px;
    padding: 12px 0;
    transition: background 0.1s ease-in;
  }

  .skill__image {
    /* filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg); */
    filter: brightness(0) invert(1);
    width: 25px;
    height: 25px;
    /* transition: transform 0.2s ease-in; */
    transition: all 0.3s ease-out;
  }

  .skill__container:hover {
    background-color: var(--hover-gray);
  }

  .skill__container:hover .skill__image {
    transform: translateY(-3px);
    filter: brightness(1) invert(0);
  }

  .skill__name {
    color: #d3d3d3;
    font-size: 13px;
  }

  @media (max-width: 768px) {
    .skill__name {
      display: none;
    }
  }
</style>
