---
import { Image } from "astro:assets";

interface Props {
  name: string;
  image: string;
  color: string;
}

const { name, image, color } = Astro.props;

const colors = {
  "red": "#4B2A1D",
  "blue": "#15314D",
  "yellow": "#47361E",
  "green": "#0e3310",
  "purple": "#4D1531"
}
---

<div class="skill__container" style={{ backgroundColor: colors[color] }}>
  <Image class="skill__image" src={image} alt={name + " logo"} width={30} height={30} loading="lazy"/>
  <span class="skill__name">{name}</span>
</div>

<style>
  .skill__container {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 6px 10px;
    transition: transform 0.05s ease-in;
    border-radius: 6px;
  }

  .skill__container:hover {
    cursor: default;
    transform: scale(1.05);
  }

  .skill__image {
    width: 30px;
    user-select: none;
  }
</style>
