---
interface Props {
  content: String;
}

const { content } = Astro.props;
---

<div class="tooltip__container">
  <span class="tooltip__message">{content}</span>
  <slot />
</div>

<style>
  .tooltip__container {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;

    &:hover > .tooltip__message {
      display: block;
      opacity: 1;
    }
  }

  .tooltip__message {
    display: none;
    font-size: 15px;
    color: #fff;
    background-color: #252525;
    border-radius: 6px;
    padding: 6px 8px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 8px;
    z-index: 1;
    opacity: 0;
    transition: opacity .3s ease-in;
  }

  .tooltip__message::after {
    content: "";
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #252525 transparent transparent transparent;
  }
</style>
