---
const { class: className, ...props } = Astro.props;
---

<a
  class:list={className + " bento-gh__container"}
  href="https://github.com/xxixiio/"
  target="_blank"
  {...props}
>
  <div class="bento-gh__elements">
    <p class="bento-gh__title">Github</p>
    <span>@xxixiio</span>
  </div>
</a>

<style>
  .bento-gh__container {
    color: #fff;
    background-image: url("/img/github-bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
  }

  .bento-gh__elements {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5px 12px;
  }

  .bento-gh__title {
    display: block;
    margin: 0;
    font-weight: bold;
  }
</style>
