---
const { class: className, ...props } = Astro.props;
---

<div class:list={className + " bento-st__container"} {...props}>
  <div class="bento-st__scrolling-text">
    <div class="bento-st__text">
      <span>@xxixiio</span>
      <span>Web Developer</span>
      <span>UX/UI</span>
      <span>Programmer</span>
      <span>Seb</span>
    </div>
    <div class="bento-st__text">
      <span>@xxixiio</span>
      <span>Web Developer</span>
      <span>UX/UI</span>
      <span>Programmer</span>
      <span>Seb</span>
    </div>
  </div>
</div>

<style>
  .bento-st__container {
    display: flex;
    align-items: center;
    background-color: #1f47399a;
  }
  
  .bento-st__scrolling-text {
    width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
  }

  .bento-st__text {
    font-weight: 700;
    text-transform: uppercase;
    color: #eeeeee;
    animation: animate_text 30s linear infinite;
  }

  .bento-st__text span {
    font-size: 40px;
    margin: 0 40px;
  }

  @keyframes animate_text {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }
</style>
