---
import ClockIcon from "../../icons/clock.astro";
import LocationIcon from "../../icons/location.astro";

const { class: className, ...props } = Astro.props;
---

<div class:list={className + " bento-time__container"} {...props}>
  <ul class="info__list">
    <li class="info__element">
      <LocationIcon class:list={"info__icon"} />
      <p>Girona, Spain</p>
    </li>
    <li class="info__element info__time">
      <ClockIcon class:list={"info__icon"} />
      <p id="time">00:00:00</p>
    </li>
  </ul>
</div>

<style>
  .bento-time__container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #5f25506e;
  }

  .info__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .info__element {
    display: flex;
    align-items: center;
    gap: 6px;

    & > * {
      margin: 0;
      color: #fff;
    }
  }

  .info__icon {
    width: 25px;
    height: 25px;
    filter: invert(1);
  }

  @media only screen and (max-width: 768px) {
    .bento-time__container {
        padding: 0px 5px;
    }

    .info__element {
      flex-direction: column;
      gap: 0;

      & > p {
        font-size: 80%;
        text-wrap: balance;
      }
    }

    .info__icon {
      width: 20px;
    }
  }
</style>

<script>
  function getTime() {
    let currentDate = new Date();

    let options: Intl.DateTimeFormatOptions = {
      hour: "2-digit",
      minute: "2-digit",
      second: "2-digit",
      hour12: false,
      timeZone: "Europe/Madrid",
    };

    let madridTime = new Intl.DateTimeFormat("default", options).format(
      currentDate
    );
    return madridTime;
  }

  document.getElementById("time").textContent = getTime();

  setInterval(() => {
    document.getElementById("time").textContent = getTime();
  }, 1000);
</script>
