---
import { localizePath } from "astro-i18next";
import { slugify } from "../../utils/slugify";
import { formatDate } from "../../utils/formatDate";

const { class: className, ...props } = Astro.props;

const posts = await Astro.glob("../../../content/**/*.mdx");
const latestPost = posts
    .filter(post => !post.frontmatter.draft)
    .sort((a, b) => {
    return new Date(b.frontmatter.posted).getTime() - new Date(a.frontmatter.posted).getTime();
})[0];
---

<a href={localizePath("/blog/" + slugify(latestPost.frontmatter.title))} class:list={className + " bento-uc__container"} {...props}>
    <p class="blog__text"><span style={{ fontWeight: "bold" }}>Blog</span> -- Latest post ({formatDate(latestPost.frontmatter.posted)}): {latestPost.frontmatter.title}</p>
</a>

<style>
    .bento-uc__container {
        display: flex;
        text-align: center;
        align-items: center;
        background-color: #1b1b1b;
        padding: 0 24px;
        outline: 1px solid #99999938;
        overflow: hidden;

        & > p {
            color: #fff;
            margin: 0;
        }
    }
</style>