---
import { Image } from "astro:assets";
import LinkAnchor from "../components/LinkAnchor.astro";
import Tooltip from "../components/Tooltip.astro";
import LocationIcon from "../icons/location.astro";
import ClockIcon from "../icons/clock.astro";
import GithubIcon from "../icons/github.astro";
---

<section>
  <div id="aboutme" class="hero__name-container">
    <Image
      class="hero__avatar"
      src="https://avatars.githubusercontent.com/u/108923627?v=4"
      alt="xxixiio"
      title="xxixiio's avatar"
      width="1200"
      height="1200"
      loading="eager"
    />
    <div>
      <h1 class="hero__name accent">seb</h1>
      <a
        class="hero__username"
        href="https://github.com/xxixiio/"
        title="xxixiio's Github page"
        target="__blank"
      >
        <span class="hero__github">
          <GithubIcon />
        </span>
        @xxixiio
      </a>
    </div>
  </div>
  <h2 class="hero__hey"><span class="wave">👋</span> Hey!</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia sed magni
    illo quos similique molestias, ducimus <LinkAnchor content={"asperiores"} to={"https://www.google.com"} target="__blank"/> perferendis iure nemo
    culpa repellendus dicta ratione unde <Tooltip content={"chunhua"}>possimus</Tooltip> harum in nisi, cupiditate modi
    ipsum blanditiis! Nostrum molestiae, nesciunt sit nam culpa rerum?
  </p>
  <div class="info__container">
    <ul class="info__list">
      <li class="info__element">
        <LocationIcon style="height: auto; width: 25px; filter: invert(1);" />
        <p>Girona, Spain</p>
      </li>
      <li class="info__element info__time">
        <ClockIcon style="height: auto; width: 25px; filter: invert(1);" />
        <p id="time">00:00:00</p>
      </li>
    </ul>
  </div>
</section>

<style>
  .wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: 3;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } 
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } 
    100% {
      transform: rotate(0deg);
    }
  }

  .hero__name-container {
    display: flex;
    height: 200px;
    align-items: center;
    gap: 35px;
  }

  .hero__avatar {
    border-radius: 100%;
    height: 60%;
    width: auto;
  }

  .hero__name {
    margin-bottom: -3px;
  }

  .hero__username {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 8px;
    margin-top: 3px;
    color: var(--grey);
  }

  .hero__github {
    line-height: 1;
    filter: invert(1);
  }

  .hero__hey {
    color: var(--accent);
    font-size: 28px;
    margin-bottom: -8px;
  }

  .info__list {
    display: flex;
    justify-content: space-evenly;
  }

  .info__element {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .info__time {
    width: 100px;
  }

  .info__icon {
    width: 25px;
    filter: invert(1);
  }
</style>

<script>
  function getTime() {
    let currentDate = new Date();

    let options: Intl.DateTimeFormatOptions = {
      hour: "2-digit",
      minute: "2-digit",
      second: "2-digit",
      hour12: false,
      timeZone: "Europe/Madrid",
    };

    let madridTime = new Intl.DateTimeFormat("default", options).format(
      currentDate
    );
    return madridTime;
  }

  document.getElementById("time").textContent = getTime();

  setInterval(() => {
    document.getElementById("time").textContent = getTime();
  }, 1000);
</script>
