---
import Github from "../components/Bento/Github.astro";
import NowPlaying from "../components/Bento/NowPlaying/NowPlaying.jsx";
import UnderConstruction from "../components/Bento/UnderConstruction.astro";
import Time from "../components/Bento/Time.astro";
---

<div class="bento__container">
  <div class="bento__grid">
    <div class="bento__item bento__1">
      <p>bento__1</p>
    </div>
    <div class="bento__item bento__2">
      <p>bento__2</p>
    </div>
    <NowPlaying client:load className={"bento__item bento__3"} />
    <Github class:list={"bento__item bento__4"} />
    <Time class="bento__item bento__5" />
    <UnderConstruction class="bento__item bento__6" />
  </div>
</div>

<style>
  .bento__1 {
    grid-column: span 2;
    grid-row: span 1;
    background-color: rgba(255, 182, 193, 0.5);
  }

  .bento__2 {
    grid-column: span 2;
    grid-row: span 1;
    background-color: rgba(173, 255, 47, 0.5);
  }

  .bento__3 {
    grid-column: span 1;
    grid-row: span 4;
  }

  .bento__4 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .bento__5 {
    grid-column: span 1;
    grid-row: span 2;
  }

  .bento__6 {
    grid-column: span 3;
    grid-row: span 2;
  }

  .bento__container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .bento__grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
    padding: 8px;
    border-radius: 8px;
    box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.25),
      0 1px 2px rgba(0, 0, 0, 0.1);
    justify-content: center;
  }

  .bento__item {
    border-radius: 8px;
    transition: all 0.5s ease;

    &:hover {
      transform: scale(0.96);
      cursor: crosshair;
    }
  }

  @media only screen and (max-width: 768px) {
    .bento__grid {
      grid-template-columns: repeat(4, 18vw);
      grid-template-rows: repeat(4, 15vw);
    }

    .bento__1 {
      grid-column: span 2;
      grid-row: span 1;
    }

    .bento__2 {
      grid-column: span 2;
      grid-row: span 1;
    }

    .bento__3 {
      grid-column: span 1;
      grid-row: span 2;
    }

    .bento__4 {
      grid-column: span 2;
      grid-row: span 2;
    }

    .bento__5 {
      grid-column: span 1;
      grid-row: span 2;
    }

    .bento__6 {
      grid-column: span 3;
      grid-row: span 2;
    }
  }
</style>
