---
import Github from "../components/Bento/Github.astro";
import NowPlaying from "../components/Bento/NowPlaying/NowPlaying.jsx";
import ToBlog from "../components/Bento/ToBlog.astro";
import Time from "../components/Bento/Time.astro";
import ScrollingText from "../components/Bento/ScrollingText.astro";
import ImageBento from "../components/Bento/ImageBento.astro";
---

<div class="bento__container">
  <div class="bento__grid">
    <ImageBento class="bento__item bento__1" />
    <ScrollingText class="bento__item bento__2" />
    <NowPlaying client:load className={"bento__item bento__3"} />
    <Github class:list={"bento__item bento__4"} />
    <Time class="bento__item bento__5" />
    <ToBlog class="bento__item bento__6" />
  </div>
</div>

<style>
  .bento__1 {
    grid-column: span 2;
    grid-row: span 1;
  }

  .bento__2 {
    grid-column: span 2;
    grid-row: span 1;
  }

  .bento__3 {
    grid-column: span 1;
    grid-row: span 4;
  }

  .bento__4 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .bento__5 {
    grid-column: span 1;
    grid-row: span 2;
  }

  .bento__6 {
    grid-column: span 3;
    grid-row: span 2;
  }

  .bento__container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;

    content: "";
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
      45deg,
      #ff595e,
      #ffca3a,
      #8ac926,
      #1982c4,
      #6a4c93,
      #ff6700
    );
    background-size: 400%;
    animation: glow 20s linear infinite;
    width: 100%;
    border-radius: 8px;
  }

  .bento__container::before,
  .bento__container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
      45deg,
      #ff595e,
      #ffca3a,
      #8ac926,
      #1982c4,
      #6a4c93,
      #ff6700
    );
    background-size: 400%;
    z-index: -1;
    animation: glow 20s linear infinite;
    width: 100%;
    border-radius: 9px;
  }

  .bento__container::after {
    filter: blur(45px);
    opacity: .2;
    transform: translate3d(0, 0, 0);
  }

@keyframes glow {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

  .bento__grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
    padding: 8px;
    border-radius: 8px;
    box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.25),
      0 1px 2px rgba(0, 0, 0, 0.1);
    justify-content: center;
    background-color: var(--background);
  }

  @media only screen and (max-width: 768px) {
    .bento__container::before {
      background-size: 100%;
    }

    .bento__grid {
      grid-template-columns: repeat(4, 18vw);
      grid-template-rows: repeat(4, 15vw);
    }

    .bento__1 {
      grid-column: span 2;
      grid-row: span 1;
    }

    .bento__2 {
      grid-column: span 2;
      grid-row: span 1;
    }

    .bento__3 {
      grid-column: span 1;
      grid-row: span 2;
    }

    .bento__4 {
      grid-column: span 2;
      grid-row: span 2;
    }

    .bento__5 {
      grid-column: span 1;
      grid-row: span 2;
    }

    .bento__6 {
      grid-column: span 3;
      grid-row: span 2;
    }
  }
</style>

<style is:global>
  .bento__item {
    border-radius: 8px;
    transition: all 0.5s ease;

    &:hover {
      transform: scale(0.96);
    }
  }
</style>