---
import { t } from "i18next";
import { Trans } from "astro-i18next/components";
import LinkAnchor from "../components/LinkAnchor.astro";
import Tooltip from "../components/Tooltip.astro";
import EmailIcon from "../icons/email.astro";
---

<section class="contact__container">
  <h2 class="contact__badge">{t("contact.title")}</h2>
  <h2 class="contact__title" id="contact">{t("contact.title2")}</h2>
  <div class="contact__main">
    <div class="contact__text-container">
      <p>
        {t("contact.text1")}
        <br>
        <br>
        {t("contact.text2")} 
        <LinkAnchor to="mailto:hi@sebjf.dev" content="email" /> 
        {t("contact.text3")} 
        <LinkAnchor to="https://www.linkedin.com/in/sebastian-j-ferolina-b386822b7/" content="LinkedIn" target="_blank" /> 
        {t("contact.text4")} 
      </p>
    </div>
    <div class="contact__links">
      <Tooltip content={"Click to copy"} id="email-tooltip">
        <button class="contact__email" id="email-button">
          <EmailIcon class:list={"contact__email-icon"} />
          hi@sebjf.dev
        </button>
      </Tooltip>
      <LinkAnchor to="https://www.linkedin.com/in/sebastian-j-ferolina-b386822b7/" content="LinkedIn" target="_blank" />
    </div>
  </div>
</section>

<!-- <script>
  const startAnimation = (entries, observer) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add("shake-lr");
        observer.unobserve(entry.target);
      }
    });
  };

  const observer = new IntersectionObserver(startAnimation);
  const elements = document.querySelectorAll('#contact');
  
  elements.forEach(el => {
    observer.observe(el);
  });
</script> -->

<script>
  const emailButton = document.getElementById("email-button");
  const emailTooltip = document.getElementById("email-tooltip");

  emailButton.addEventListener("click", () => {
    navigator.clipboard
      .writeText("hi@sebjf.dev")
      .then(() => {
        emailTooltip.textContent = "Copied"
        setTimeout(() => {
            emailTooltip.textContent = "Click to copy"
        }, 5000)
      })
      .catch((err) => {
        emailTooltip.textContent = "Failed to copy"
        setTimeout(() => {
            emailTooltip.textContent = "Click to copy"
        }, 5000)
      });
  });
</script>

<style>
  .contact__container {
    margin: 115px 0;
  }

  .contact__badge {
    text-align: center;
    font-size: 20px;
    margin: 0;
  }

  .contact__title {
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    font-size: 50px;
    color: #fff;
    position: relative;
    z-index: 1;
  }

  .contact__title::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: -200px;
    background: linear-gradient(45deg, #ff595e, #ffca3a, #8ac926, #1982c4, #6a4c93, #ff6700);
    background-size: 300%;
    filter: blur(100px);
    opacity: .2;
    animation: glow-anim 6s ease-in-out infinite;
    will-change: background-position;
    z-index: -5;
}

  @keyframes glow-anim {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

  .contact__main {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    gap: 50px;
    position: relative;
    z-index: 1;
  }

  .contact__email {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 5px;
    color: white;
    padding: 2px 8px;
    border-radius: 8px;
    transition: background .1s ease-in;
    margin-top: -10px;

    &:hover {
        background-color: var(--hover-gray);
    }
  }

  .contact__text-container {
    & > p {
      margin: 0;
    }
  }

  .contact__links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .contact__email-icon {
    width: 25px;
    height: auto;
  }

  .link, .contact__email {
    &:hover {
      background-color: #ececec31;
    }
  }

  @media only screen and (max-width: 768px) {
    .contact__main {
      padding: 0 18px;
    }

    .contact__title {
      font-size: 42px;
    }

    .contact__title::before {
      background-size: 100%;
    }
  }
</style>
