---
import { t } from "i18next";
import { Trans } from "astro-i18next/components";
import LinkAnchor from "../components/LinkAnchor.astro";
import Tooltip from "../components/Tooltip.astro";
import EmailIcon from "../icons/email.astro";
---

<section class="contact__container">
  <h2 id="contact">{t("contact.title")}</h2>
  <div class="contact__main">
    <div class="contact__text-container">
      <p>
        {t("contact.text1")}
        <br>
        <br>
        {t("contact.text2")} 
        <LinkAnchor to="mailto:hi@sebjf.dev" content="email" /> 
        {t("contact.text3")} 
        <LinkAnchor to="https://www.linkedin.com/in/sebastian-j-ferolina-b386822b7/" content="LinkedIn" target="_blank" /> 
        {t("contact.text4")} 
      </p>
    </div>
    <div class="contact__links">
      <Tooltip content={"Click to copy"} id="email-tooltip">
        <button class="contact__email" id="email-button">
          <EmailIcon class:list={"contact__email-icon"} />
          hi@sebjf.dev
        </button>
      </Tooltip>
      <LinkAnchor to="https://www.linkedin.com/in/sebastian-j-ferolina-b386822b7/" content="LinkedIn" target="_blank" />
    </div>
  </div>
</section>

<script>
  const emailButton = document.getElementById("email-button");
  const emailTooltip = document.getElementById("email-tooltip");

  emailButton.addEventListener("click", () => {
    navigator.clipboard
      .writeText("hi@sebjf.dev")
      .then(() => {
        emailTooltip.textContent = "Copied"
        setTimeout(() => {
            emailTooltip.textContent = "Click to copy"
        }, 5000)
      })
      .catch((err) => {
        emailTooltip.textContent = "Failed to copy"
        setTimeout(() => {
            emailTooltip.textContent = "Click to copy"
        }, 5000)
      });
  });
</script>

<style>
  #contact {
    text-align: center;
    font-size: 35px;
  }

  .contact__main {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    gap: 50px;
  }

  .contact__email {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 5px;
    color: white;
    padding: 2px 8px;
    border-radius: 8px;
    transition: background .1s ease-in;
    margin-top: -10px;

    &:hover {
        background-color: var(--hover-gray);
    }
  }

  .contact__text-container {
    & > p {
      margin: 0;
    }
  }

  .contact__links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .contact__email-icon {
    width: 25px;
    height: auto;
  }
</style>
