---
import experience from "../consts/experience.js";
---

<section>
  <h2 id="experience">Experience</h2>
  <div class="timeline__container">
    <ul class="timeline__list">
      {
        experience.map((e, i) => (
          <li class="timeline__element">
            <h3>{e.name}</h3>
            <p>{e.position}</p>
            <p>{e.startDate + (e.endDate ? " - " + e.endDate : "")}</p>
            <p>{e.description}</p>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style>
  .timeline__list {
    border: 0 solid #fff;
    border-left-width: 2px;
  }

  .timeline__element::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: -48px;
    margin-top: 6px;
    transition: background 0.2s ease-in-out;
  }

  .timeline__element:hover:before {
    background-color: var(--grey);
  }
</style>
