---
import { Trans } from "astro-i18next/components";
---

<footer class="footer__container">
  <div class="footer__content">
    <div class="footer__left">
      <Trans i18nKey="footer">
        Made with <a
        href="https://astro.build/"
        target="_blank"
        class="footer__link">Astro</a
      >, deployed with <a
        href="https://vercel.com/"
        target="_blank"
        class="footer__link">Vercel</a
      > .
      </Trans>
    </div>
    <div class="footer__right">©2024 | @xxixiio</div>
  </div>
</footer>

<style>
  .footer__container {
    bottom: 0;
    margin-top: 45px;
    width: var(--max-w);
    border-width: 0px;
    border-top-width: 1px;
    border-top-color: var(--text);
    border-style: solid;
    padding: 14px 0;
    text-wrap: nowrap;
  }

  .footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__icons {
    display: flex;
    gap: 10px;
    padding: 0;
  }

  .footer__link {
    color: var(--accent);
    text-decoration: underline;
  }

  @media only screen and (max-width: 768px) {
    .footer__container {
      width: 100%;
    }
  }

  @media only screen and (max-width: 400px) {
    .footer__left,
    .footer__right {
      font-size: 12px;
    }
  }
</style>
