<footer class="footer__container">
  <div class="footer__content">
    <ul class="footer__icons">
      <li>0</li>
      <li>0</li>
      <li>0</li>
    </ul>
    <div class="footer_right">@xxixiio | MMVII</div>
  </div>
</footer>

<style>
  .footer__container {
    bottom: 0;
    margin-top: 45px;
    width: var(--max-w);
    border-width: 0px;
    border-top-width: 1px;
    border-top-color: var(--primary);
    border-style: solid;
  }

  .footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer__icons {
    display: flex;
    gap: 10px;
    padding: 0;
  }
</style>
