<header class="header__container">
  <p>
    <a href="/">seb</a>
  </p>
  <ul class="header__list">
    <li><a href="#aboutme" title="About me">About me</a></li>
    <li><a href="#experience" title="Experience">Experience</a></li>
    <li><a href="#projects" title="Projects">Projects</a></li>
    <li><a href="#contact" title="Contact">Contact</a></li>
  </ul>
</header>

<style>
  .header__container {
    width: calc(100% - 32px);
    display: flex;
    justify-content: space-between;
    background-color: #15131c;
    padding: 2px 16px;
    border-radius: 8px;
    margin-top: 15px;
    outline: 1px solid #ffffff;
    overflow: auto;
    position: sticky;
    top: 15px;
    z-index: 1000;
  }

  .header__list {
    display: flex;
    gap: 15px;
  }
</style>
