<header class="header__container">
  <p>
    <a href="/">seb</a>
  </p>
  <ul class="header__list">
    <li><a href="#aboutme">About me</a></li>
    <li><a href="#experience">Experience</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</header>

<style>
  .header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #15131c;
    padding: 2px 16px;
    border-radius: 8px;
    margin-top: 15px;
    outline: 1px solid #ffffff;
  }

  .header__list {
    display: flex;
    gap: 15px;
  }
</style>
