---
import i18next, { t } from "i18next";
import Project from "../components/Project.astro";
import projects from "../consts/projects";

const getProjectDescription = (project, language) => {
  return project.translation && project.translation[language] ? project.translation[language].description : project.description;
};

const currentLanguage = i18next.language;
---

<section>
  <h2 id="projects">{t("projects.title")}</h2>
  <div class="projects__content">
    {projects.map((projectData) => {
      const translatedProjectData = {
        ...projectData,
        description: getProjectDescription(projectData, currentLanguage),
      };
      return <Project projectData={translatedProjectData} />;
    })}
  </div>
</section>

<style>
  .projects__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }

  @media only screen and (max-width: 768px) {
    .projects__content {
        flex-direction: column;
        gap: 12px;
    }
  }
</style>
