---
import { t } from "i18next";
import skills from "../consts/skills.new.js";
import Skill from "../components/Skill.new.astro";
---

<section>
  <h2>{t("skills.title")}</h2>
  <div class="skills__grid">
    {
      skills.map((s, i) => (
        <Skill name={s.name} icon={s.icon} color={s.color} />
      ))
    }
  </div>
</section>

<style>
  .skills__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-items: center;
  }

  @media (max-width: 768px) {
    .skills__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 480px) {
    .skills__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
