---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import AuraLight from "../../components/AuraLight.astro";
import Header from "../../sections/Header.astro";
import Footer from "../../sections/Footer.astro";

changeLanguage("es");
---

<Layout
  title="Page not found | Sebastian JF"
  description="Welcome to my personal portfolio, where I showcase my latest projects and creations."
>
  <AuraLight />
  <div class="content">
    <Header />
    <main>
      <h2 class="not-found"><span>404</span> | <span class="not-found-text">This page could not be found.</span></h2>
    </main>
    <Footer />
  </div>
</Layout>

<style>
  .not-found {
    text-align: center;
    align-content: center;
    height: 65vh;
  }

  .not-found-text {
    font-size: 1.6rem;
  }
</style>
