---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import AuraLight from "../../components/AuraLight.astro";
import AboutMe from "../../sections/AboutMe.astro";
import Header from "../../sections/Header.astro";
import Footer from "../../sections/Footer.astro";
// import Skills from "../../sections/Skills.astro";
import SkillsNew from "../../sections/Skills.new.astro";
import Experience from "../../sections/Experience.astro";
import Projects from "../../sections/Projects.astro";
import Contact from "../../sections/Contact.astro";
import Bento from "../../sections/Bento.astro";

changeLanguage("es");
---

<Layout title="Seb's portfolio | Web developer" description="Welcome to my personal portfolio, where I showcase my latest projects and creations.">
  <AuraLight />
  <div class="content">
    <Header />
    <main>
      <AboutMe />
      <!-- <Bento /> -->
      <SkillsNew />
      <!-- <Skills /> -->
      <Experience />
      <Projects />
      <Contact />
    </main>
    <Footer />
  </div>
</Layout>
