---
import "../styles/normalize.css";
import "../styles/animations.css";
import "../styles/styles.css";
import SEO from "../components/SEO.astro";
import CommandMenu from "../components/CommandMenu";
import i18next from "i18next";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <SEO title={title} description={description} />
  </head>
  <body>
    <CommandMenu client:load>
      <slot />
    </CommandMenu>
  </body>
</html>
